@page "/"

<PageTitle>Event Registration</PageTitle>

<h1>Event Registration</h1>



<button @onclick="NewBooking">New Booking</button>
<button @onclick="Submit">Submit</button>
<button @onclick="Cancel">Cancel</button>
<button @onclick="DatePassed">Date Passed</button>
